* {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 3%;
  margin-right: 3%;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: grey;
  width: 100%;
}
ul {
  display: flex;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
main {
  margin-top: 27%;
}
h2 {
  font-size: 22px;
}
